@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

* {
  font-family:'Nunito';
  text-align: center;
}

h1, h2 {
 color: rgb(31, 38, 176);
}

.error {
  color:red;
}

.container {
  max-width: 970px;
  background-color: rgb(199, 193, 193);
  border-radius: 25px;
  margin: auto;
  width: 60%;
  border: 5px solid black;
  padding: 10px;
}

h3 {
  color: rgb(32, 100, 189);
}

.alt-text {
  color: rgb(32, 100, 189);
  text-size-adjust: -1;
}

ul {
  list-style-position: inside;
  text-align: left;
}


.car-image{
  height: 150px;
  width: 270px
}

.btn {
  display: inline;
  background: #000;
  color: #fff;
  border:none;
  padding:10px 20px;
  margin:5px;
  border-radius:5px;
  cursor:pointer;
  }

  .link-btn {
    display: inline;
    background: rgb(167, 19, 19);
    color: #fff;
    border:none;
    padding:10px 20px;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
    }
    .update-btn {
      display: inline;
      background: rgb(13, 69, 165);
      color: #fff;
      border:none;
      padding:10px 20px;
      margin:5px;
      border-radius:5px;
      cursor:pointer;
      }